name: pull-request-event

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: test-${{ github.event.pull_request.number || github.sha }}

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened') }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Test
        run: ./gradlew clean test --info
